* {
	min-height: 10px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-family: "Times New Roman", Times, serif;
	font-size: 62.5%;
}

p {
	font-size: 1.5rem;
	margin-left: 15px;
}

body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 90px;
	height: 90px;
	margin-right: 15px;
}

div .postcard-header h1 {
	width: 400px;
	margin: 0;
	align-content: center;
	padding: 0.5rem;
	margin-left: 15px;
}
.postcard-body {
	display: flex;
}
div .body-left .m {
	margin: 0;
	padding: 0.5rem;
	margin-left: 15px;
}
div .body-left p {
	padding: 0.5rem;
}
.body-left .body-right {
	padding: 60% 40%;
}

input {
	border: none;
	border-color: grey;
	border-bottom: inset;
	margin-right: 15px;
}

.boton {
	width: auto;
	height: auto;
	color: black;
	background-color: rgb(197, 197, 197);
	border-color: orange;
	text-decoration: none;
	display: block;
	border: 1px solid;
}
a.boton:active {
	border-color: orange;
}
.postcard-footer {
	text-align: center;
	padding: 10px;
}
